<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <br><br>
    <section class="content">
        <article class="post">
            <form action="/posts" method="post">
                <input type="text" name="user" placeholder="Enter UserName">
                <input type="text" name="title" placeholder="Enter Post Title">
                <h3>Post Details</h3>
                <textarea name="content" cols="50" rows="7" placeholder="Describe Details"></textarea> <br>
                <button type="submit">Submit</button>
            </form>
        </article>
    </section>
</body>
</html>